body {
  background-color: #561d12;
}

#container {
  position: relative;
  margin: 0 auto;
  border-radius: 25px;
  top: 60px;
  height: 600px;
  width: 500px;
  background: #000;
}

#gbody {
  position: absolute;
  left: 100px;
  top: 50px;
  height: 300px;
  width: 300px;
  background: #FFF;
}

#mouth {
  position: relative;
  margin: 0 auto;
  left: 5px;
  top: 140px;
  height: 20px;
  width: 70px;
  background: #3b3b3b;
}

#eyebrow1 {
  position: relative;
  left: 70px;
  top: 60px;
  height: 15px;
  width: 40px;
  background: #CCC;
}

#eyebrow11 {
  position: relative;
  left: 110px;
  top: 30px;
  height: 15px;
  width: 15px;
  background: #CCC;
}

#eye {
  position: relative;
  left: -50px;
  margin: 0 auto;
  top: 60px;
  height: 20px;
  width: 60px;
  background: #3b3b3b;
}

#eyelid {
  position: relative;
  left: 10px;
  top: -10px;
  height: 30px;
  width: 40px;
  background: #000;
  animation-name: snap-open;
  animation-duration: 5s;
  animation-play-state: inherit;
  animation-iteration-count: infinite;
}

#wrinkle {
  position: relative;
  left: -15px;
  top: -95px;
  height: 20px;
  width: 15px;
  background: #CCC;
}

#tears {
  position: relative;
  left: 0px;
  top: -10px;
  height: 50px;
  width: 15px;
  background: #CCC;
}

#tears2 {
  position: relative;
  left: 15px;
  top: -60px;
  height: 15px;
  width: 15px;
  background: #CCC;
}

#eyebrow2 {
  position: relative;
  left: 199px;
  top: 31px;
  height: 15px;
  width: 40px;
  background: #CCC;
}

#eyebrow22 {
  position: relative;
  left: 184px;
  top: 2px;
  height: 15px;
  width: 15px;
  background: #CCC;
}

#eye2 {
  position: relative;
  left: 60px;
  margin: 0 auto;
  top: 40px;
  height: 20px;
  width: 60px;
  background: #3b3b3b;
}

#eyelid2 {
  position: relative;
  left: 10px;
  top: -10px;
  height: 30px;
  width: 40px;
  background: #000;
  animation-name: snap-open;
  animation-duration: 5s;
  animation-play-state: inherit;
  animation-iteration-count: infinite;
}

#wrinkle2 {
  position: relative;
  left: 60px;
  top: -85px;
  height: 20px;
  width: 15px;
  background: #CCC;
}

#tears3 {
  position: relative;
  left: 45px;
  top: -10px;
  height: 40px;
  width: 15px;
  background: #CCC;
}

#tears4 {
  position: relative;
  left: 30px;
  top: -50px;
  height: 15px;
  width: 15px;
  background: #CCC;
}

#leg1 {
  position: relative;
  top: 350px;
  left: 140px;
  height: 220px;
  width: 35px;
  background: #FFF;
}

#leg2 {
  position: relative;
  top: 130px;
  margin: 0 auto;
  height: 220px;
  width: 35px;
  background: #FFF;
}

#leg3 {
  position: relative;
  top: -90px;
  left: 329px;
  height: 220px;
  width: 35px;
  background: #FFF;
}

#leg4 {
  position: relative;
  top: -310px;
  left: 186px;
  height: 200px;
  width: 35px;
  background: #CCC;
}

#leg5 {
  position: relative;
  top: -510px;
  left: 280px;
  height: 200px;
  width: 35px;
  background: #CCC;
}

@keyframes snap-open {
  0% {
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  99%{
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#gbody:hover {
  animation-play-state: running;
}
